{% extends 'base.html.twig' %}

{% block title %}Salarie index{% endblock %}

{% block body %}
    <h1>Salarie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salary</th>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salarie in salaries %}
            <tr>
                <td>{{ salarie.id }}</td>
                <td>{{ salarie.salary }}</td>
                <td>{{ salarie.fromDate ? salarie.fromDate|date('Y-m-d') : '' }}</td>
                <td>{{ salarie.toDate ? salarie.toDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_salarie_show', {'id': salarie.id}) }}">show</a>
                    <a href="{{ path('app_salarie_edit', {'id': salarie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salarie_new') }}">Create new</a>
{% endblock %}
