<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user %}
                    {# Utilisateur connecté, masquer le bouton "Login" #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('employee_profil') }}">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('department') }}">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('intern') }}">Stagiaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    {# Aucun utilisateur connecté, afficher le bouton "Se connecter" #}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
