{% extends 'base.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <h1>Partner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>NomEntreprise</th>
                <td>{{ partner.nomEntreprise }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ partner.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ partner.tel }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ partner.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partner_index') }}">back to list</a>



{% endblock %}
