{% extends 'base.html.twig' %}

{% block title %}Intern index{% endblock %}

{% block body %}
    <h1>Intern index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intern in interns %}
            <tr>
                <td>{{ intern.id }}</td>
                <td>{{ intern.fullname }}</td>
                <td>{{ intern.startDate ? intern.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ intern.endDate ? intern.endDate|date('Y-m-d') : '' }}</td>
                
                <td>
                    <a href="{{ path('app_intern_show', {'id': intern.id}) }}">show</a>
                    <a href="{{ path('app_intern_edit', {'id': intern.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intern_new') }}">Create new</a>
{% endblock %}
