{% extends 'base.html.twig' %}

{% block title %}Mes stagiaires{% endblock %}

{% block body %}

    <h2>Liste des stagiaires</h2>

    <ul class="list-group">
        <div class="mes-st">
            {% for i in messtagiaires %}
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    {{ i.fullname }}
                </li>
            {% endfor %}
        </div>
        <div class="personnes-st">
            {% for i in sanssuperviseurs %}
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    {{ i.fullname }}
              
                    <button type="button" class="btn btn-success superviser-btn" data-stagiaire-id="{{ i.id }}" onclick="superviserStagiaire({{ employee.id }}, {{ i.id }})">Superviser</button>
</li>
            {% endfor %}
        </div>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.superviser-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    var stagiaireId = this.getAttribute('data-stagiaire-id');
                    superviserStagiaire(stagiaireId);
                });
            });
        });

       function superviserStagiaire(employeeId, stagiaireId) {
    fetch('/intern/' + employeeId + '/supervise-stagiaire', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: stagiaireId })
    })
            .then(response => response.json())
        .then(data => {
        console.log(data); // Pour débogage
        if (data.status === 'success') {
         

            // afficher un message de succès ou mettre à jour l'interface utilisateur
            alert('Stagiaire supervisé avec succès!');
        }
    }).catch(error => {
    console.error('Erreur:', error);
});
           
        }
    </script>

	{% endblock %}