{% extends 'base.html.twig' %}

{% block title %}Mission index
{% endblock %}

{% block body %}
	<h2>Mes Missions Actives ( pas terminé )
	</h2>

	{#
	  <ul>
	        {% for mission in missions %}
	     
	           
	                <li>{{ mission.description }}</li>
	
	          
	        {% endfor %}
	    
	        </ul>
	
	        #}


	{% for mission in missionsActives %}
		<div>
			<p>Mission:
				{{ mission.description }}
				({{ mission.status.value }})</p>
			<button type="button" class="btn btn-success" data-mission-id="{{ mission.id }}" data-action="terminer">Terminer</button>


		</div>
	{% endfor %}

	<h2>Missions Non Assignées</h2>
	{% for mission in missionsNonAssignees %}
		<div>
			<p>Mission:
				{{ mission.description }}
				({{ mission.status.value }})</p>


			{% if mission.status.value == 'en attente' %}
				<button type="button" class="btn btn-primary" data-mission-id="{{ mission.id }}" data-action="accepter">Accepter</button>
			{% elseif mission.status.value == 'en cours' %}
				<button type="button" class="btn btn-warning" data-mission-id="{{ mission.id }}" data-action="rejoindre">Rejoindre</button>

			{% endif %}
		</div>
	{% endfor %}


	<script>
    
		document.querySelectorAll('.update-mission').forEach(function (button) {
button.addEventListener('click', function () {
var missionId = this.getAttribute('data-mission-id');
var action = this.getAttribute('data-action');

// Construire l'URL basée sur les attributs data-*
var url = `/mission/update/${missionId}/${action}`;

// Effectuer une requête AJAX
fetch(url).then(response => response.text())
.then(data => {
console.log(data);
// mise a jour de ux
}).catch(error => {
console.error('Erreur:', error);
});
});
});
	</script>

{% endblock %}
