{% extends 'base.html.twig' %}

{% block title %}Mission index
{% endblock %}

{% block body %}
	<h2>Mes Missions Actives ( pas terminé )
	</h2>


    <form action="{{ path('app_mission_update',{'id': app.user.id}) }}" method="post">

	{% for mission in missionsActives %}
		<div>
			<p>Mission:
				{{ mission.description }}
				({{ mission.status.value }})</p>
			   <input type="hidden" name="missionId" value="{{ mission.id }}">
                <input type="hidden" name="action" value="terminer">
			<button  name= "btterminer" type="submit" class="btn btn-success" value="{{ mission.id }}" >Terminer</button>
			

		</div>
	{% endfor %}

	<h2>Missions Non Assignées</h2>
	{% for mission in missionsNonAssignees %}
		<div>
			<p>Mission:
				{{ mission.description }}
				({{ mission.status.value }})</p>

 <input type="hidden" name="missionId" value="{{ mission.id }}">
			{% if mission.status.value == 'en attente' %}
			 <input type="hidden" name="action" value="accepter">
				<button name="btaccepter" type="submit" class="btn btn-primary" value="{{ mission.id }}" >Accepter</button>
			{% elseif mission.status.value == 'en cours' %}
			      <input type="hidden" name="action" value="rejoindre">
				<button  name="btrejoindre" type="submit" class="btn btn-warning" value="{{ mission.id }}" >Rejoindre</button>

			{% endif %}
		</div>
	{% endfor %}

</form>

{% endblock %}
