{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
 {% if app.user %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BirthDate</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>HireDate</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          
      
   
            {% if employees is not empty %}
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.gender.value }}</td>
                        <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
                        <td>{{ employee.photo }}</td>
                        <td>{{ employee.email }}</td>
                        <td>

                           
                            {% if app.user and app.user.isAdmin %}
                                <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                           
                           <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                               
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                     <p>Veuillez <a href="{{ path('login_route') }}">vous connecter</a> ou <a href="{{ path('register_route') }}">créer un compte</a>.</p>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if app.user and app.user.isAdmin %}
        <a href="{{ path('app_employee_new') }}">Create new</a>
    {% endif %}

    {% endif %}
{% endblock %}