{% extends 'base.html.twig' %}

{% block title %}Mes stagiaires
{% endblock %}

{% block body %}

	<h2>Liste des stagiaires</h2>

	<table class="table table-hover">
		<tbody>
			{% for intern in interns %}
				<tr class="table-active">

					<td>{{ intern.fullname }}</td>
					<td>{{ intern.startDate|date('Y-m-d') }}</td>
					<td>{{ intern.endDate|date('Y-m-d') }}</td>
					<td>{{ intern.departement }}</td>
					

					<td>
						{% if intern.superviseur is null %}
						

							<form action="{{ path('app_intern_supervise', {'id':intern.id}) }}" method="post">
					
								<button  name="btsuperv"type="submit" class="btn btn-primary">Superviser</button>
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
