{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender.value }}</td>
            </tr>
            <tr>
                <th>HireDate</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo }}</td>
            </tr> .
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
        </tbody>
    </table>


    <h4> historique  des départements </h4>
    <ul>
    {% for dep in employee.departments %}
    <li> {{ dep.deptName }} </li>
    {% endfor %}
</ul>
     <h4> Liste des départements  ( passage par table intermediaire (deptEmps) </h4>
    {% for deptemp in employee.deptEmps %}
     {% if deptemp.toDate| date('Y-m-d')=='9999-01-01' %}
    <p> {{ deptemp.departement.deptName}} </p>
    {% endif %}
    {% endfor %}

<h4> liste des Département actuel ( filtre controller)</h4>

{% if employee.ctrl_actualDept is defined and employee.ctrl_actualDept is not null %}
    {{ employee.ctrl_actualDept.deptName }}
{% else %}
    ''
{% endif %}


<h4> liste des Département actuel (querybuilder ds repository)</h4>

{% if employee.repoqb_actualDept is defined and employee.repoqb_actualDept is not null %}
    {{ employee.repoqb_actualDept.deptName }}
{% else %}
    ''
{% endif %}


<h4> liste des Département actuel ( filtre repository, affichage a partir de show employee)</h4>

    {{ employee.actualdep.deptName }}




    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
