{% extends 'base.html.twig' %}
{#montrer un employé en particulier#}

{% block title %}Employee
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="mt-5">Employee</h1>
		
		{% if is_granted('ROLE_USER') %}
		{% if app.user %}
			<div class="row mt-5">
				<div class="col-md-4">
					<div class="profile">
						<img src="/Employees/images/me.jpg" class="img-fluid rounded-circle" alt="Photo de profil">
					</div>
				</div>
				<div class="col-md-8">
					<div class="menu">
						<ul class="list-group">
							<li class="list-group-item">
								<a href="{{ path('app_mission_mesmissions', {'id': employee.id}) }}">Mes Missions</a>
							</li>
							<li class="list-group-item">
								<a href="{{ path('app_employee_show_controller', {'id': employee.id}) }}">Mes départements</a>
							</li>
							<li class="list-group-item">
								<a href="{{ path ('app_employee_affichermesprojets', { 'id' : app.user.id })}}">
									Mes  projects</a>
							</li>

							<li class="list-group-item">
								<a href="{{ path ('app_employee_affichemesstagiaires', { 'id' : app.user.id })}}">
									Mes stagiaires
								</a>

							</li>
							

						</ul>
					</div>
				</div>
			</div>
			{% endif %}
		{% endif %}
	</div>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ employee.id }}</td>
			</tr>
			<tr>
				<th>BirthDate</th>
				<td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>FirstName</th>
				<td>{{ employee.firstName }}</td>
			</tr>
			<tr>
				<th>LastName</th>
				<td>{{ employee.lastName }}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>{{ employee.gender.value }}</td>
			</tr>
			<tr>
				<th>HireDate</th>
				<td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td>{{ employee.photo }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ employee.email }}</td>
			</tr>
			<tr>
				<th>nomdep</th>
				<td>{{ employee.actualdep.deptName }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_employee_index') }}">back to list</a>

	<a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

	{{ include('employee/_delete_form.html.twig') }}
{% endblock %}
