{% extends 'base.html.twig' %}

{% block title %}DeptManager{% endblock %}

{% block body %}
    <h1>DeptManager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dept_manager.id }}</td>
            </tr>
            <tr>
                <th>DeptName</th>
                <td>{{ dept_manager.deptName }}</td>
            </tr>
            <tr>
                <th>FromDate</th>
                <td>{{ dept_manager.fromDate ? dept_manager.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ToDate</th>
                <td>{{ dept_manager.toDate ? dept_manager.toDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dept_manager_index') }}">back to list</a>

    <a href="{{ path('app_dept_manager_edit', {'id': dept_manager.id}) }}">edit</a>

    {{ include('dept_manager/_delete_form.html.twig') }}
{% endblock %}
